.capitalize{
	text-transform: capitalize;
}

.bold{
	font-weight: bolder;
}

.user-container{
	border: 1px solid #333;
	box-sizing: border-box;
	width: 300px;
	margin: 20px;
}

h3{
	padding: 10px 0;
}

p{
	padding: 0 15px;
}